body{
    margin-top: 45px;
}
.no-margin{
    margin: 0px;
}
.no-bottom-margin{
    margin-bottom: 0px;
}
.margin-right-bottom-40px{
    margin: 0 40px 10px 0;
}
.bottom-margin-60px{
    margin-bottom: 60px;
}
.right-margin-10px{
    margin-right: 10px;
}
.no-padding{
    padding: 0px;
}
.font_and_height p{
    font-size: 14px;
    line-height: 2;
    text-align: justify;
}
.table_width{
    width: 100%;
}
.commentz{
    display: inline;
}
.left-right-padding-0px{
    padding-left: 0px;
    padding-right: 0px;
}
#contact_info{
    margin-top: 50px;
}
.display_none{
    display: none;
}
.font_sixe_11px{
    font-size: 11px;
}
footer{
    margin-top: 140px;
}
#footer_part1{
    background-color: #141414;
    border-bottom: 1px solid rgb(157, 157, 157);
    padding: 70px 0px;
    height: 250px;
}
#footer_part2{
    background-color: #5b9638;
    height: 60px;
}
.border{
    box-shadow: -1px -1px 1px #272727;
    border-radius: 50px;
}
#footer_upper_section1{
    width: 344px;
    margin: 10px auto;
}
#footer_upper_section1 div{
    display: inline;
    padding: 23px 15px 15px;
    margin: 14px;
    background-color: #5b9638;
}
#footer_upper_section2{
    width: 460px;
    margin: 40px auto 16px auto;
}
.upper_section ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.upper_section ul li{
    display: inline-block;
    text-align: center;
}
#footer_upper_section2 ul li{
    width: 19%;
    font-weight: bold;
    color: white;
    font-size: 13px;
}
#footer_upper_section2 ul li a{
    text-decoration: none;
    color: white;
}
#footer_upper_section2 ul li a:hover{
    color: rgb(157, 157, 157);
    transition: all 0.5s;
}
#footer_upper_section3{
    width: 320px;
    margin: 0px auto 20px auto;
}
#footer_upper_section3 ul li{
    width: 23%;

    font-size: 12px;
    border-left: 1px solid rgb(157, 157, 157);
}
#footer_upper_section3 ul li a{
    text-decoration: none;
    color: rgb(157, 157, 157);
}
#footer_upper_section3 ul li a:hover{
    color: rgb(124, 180, 244);
    transition: all 0.5s;
}
#footer_lower_section1{
    width: 600px;
    margin: 0px auto;
    text-align: center;
    padding: 20px 10px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.no_left_border{
    border-left: none !important;
}

/*signup.php*/
.margin_top{
    margin-top: 150px;
}





/*about.php*/
.center-align{
    text-align: center;
}
#vision_and_mission h2{
    margin-bottom: 20px;
}
#vision_and_mission p{
    margin-bottom: 60px;
}
#about_nsbm p{
    margin-bottom: 16px;
}
.image_circle{
    box-shadow: 1px 1px 10px #272727;
    border-radius: 106px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#members h2{
    margin-bottom: 30px;
}
#members img{
    border: 4px solid black;
}
/*about.php*/



/*contact.php*/
#contact_info ul li{
    list-style: none;
}
/*contact.php*/